@use "../../styles" as *;

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;

  /* ========= Left Banner ========= */
  &__banner {
    position: relative;
    background-color: $color-neutral-100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
    padding: 6.625rem 6.0625rem;

    @include respond("lg") {
      display: none; // Hide banner on tablets and below
    }
  }

  &__image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
  }

  &__image {
    width: 600px;
    height: 337.57px;
    background: url("../../../public/login_image.png") center/cover no-repeat;
    // border-radius: $border-radius-lg;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  /* ========= Right Form ========= */
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #fff;
    position: relative;
  }

  &__logo-absolute {
    display: none; // hide on desktop
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;

    @include respond("lg") {
      display: block;
    }
  }

  &__form-wrapper {
    width: 100%;
    max-width: 400px;
  }

  &__title {
    font-family: $font-family-inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.625rem;
    color: $color-brand-blue;
  }

  &__subtitle {
    font-family: $font-family-inter;
    margin-bottom: 3.75rem;
    font-size: $font-size-lg;
    font-weight: 400;
    color: $color-neutral-500;
    letter-spacing: 1px;
  }

  &__form-body {
    display: flex;
    flex-direction: column;

    a {
      color: $color-brand-teal;
      font-size: $font-size-xs;
      margin-bottom: 1.875rem;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &__label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: $font-size-base;
  }

  &__input {
    padding: 0.75rem 1rem;

    font-size: $font-size-base;
    outline: none;
    transition: border-color 0.2s ease;
  }

  /* ========= Responsive ========= */
  @include respond("lg") {
    grid-template-columns: 1fr;
    padding: 1rem;

    &__form {
      padding: 2rem 1rem;
    }

    &__title {
      font-size: 1.75rem;
    }
  }
}
