.feature-not-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #213f7d;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: rgba(#213f7d, 0.7);
  }
}
