@use "../../styles/" as *;

.feature-not-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: $color-brand-blue;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: rgba($color-brand-blue, 0.7);
  }
}
