.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  flex-shrink: 0;

  &__line {
    height: 2px;
    width: 100%;
    background-color: #213f7d; // Use your primary text color
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &--open {
    .hamburger__line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger__line:nth-child(2) {
      opacity: 0;
    }
    .hamburger__line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
