@use "variables" as *;
@use "mixins" as *;

html {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-work-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  //   max-width: $max-width;
  margin: 0 auto;
  padding: 0 16px;
}
