@use "variables" as *;
@use "mixins" as *;
@use "sass:color";

html {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  // ===== Scrollbar Styling =====
  // Start wth scrollbar hidden
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  // On hover over scrollable element, show scrollbar
  &:hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #d8dde5;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: color.scale($color-brand-teal, $lightness: -10%);
  }
}

/* Firefox support */
* {
  scrollbar-width: none; // hide by default
}
*:hover {
  scrollbar-width: thin; // show on hover
  scrollbar-color: rgba(216, 221, 229, 0.4) #f1f1f1;
}

body {
  font-family: $font-family-work-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  //   max-width: $max-width;
  margin: 0 auto;
  padding: 0 16px;
}
