@use "../../styles" as *;

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: 3.75rem;
    background-color: $color-neutral-100;
  }
}
