@use "../../../../styles/" as *;
.filter-dropdown {
  position: absolute;
  z-index: 9999;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 270px;
  padding: 1.25rem 1rem;
  animation: fadeIn 0.15s ease-in-out forwards;

  .filter-dropdown__arrow {
    position: absolute;
    top: -6px;
    left: 120px;
    width: 12px;
    height: 12px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.05);
  }

  .filter-dropdown__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    position: relative;

    input[type="date"] {
      width: 100%;
      padding: 7px 12px;
      padding-right: 32px; // space for custom icon
      border: 1px solid #ccc;
      border-radius: 4px;
      appearance: none; // remove default arrow in most browsers
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff;

      &::-webkit-calendar-picker-indicator {
        opacity: 1; // hide default picker
        transform: translateX(133%);
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 67%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("../../../../../public/calendar_icon.svg"); // your SVG
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }

    label {
      font-size: $font-size-sm;
      color: $color-neutral-500;
      font-weight: $font-weight-medium;
      pointer-events: none;
    }

    input,
    select {
      border: 1px solid rgba(84, 95, 125, 0.15);
      border-radius: 8px;
      height: 38px;
      padding: 0 0.75rem;
      font-size: $font-size-sm;
      outline: none;
      color: rgba($color-neutral-500, 0.5);
      background-color: #fff;
      transition: border-color 0.2s ease;

      &:focus {
        border-color: #39cdcc;
      }

      &::placeholder {
        color: rgba($color-neutral-500, 0.5);
      }
    }
  }

  .filter-dropdown__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    button {
      flex: 1;
      height: 38px;
      border-radius: 8px;
      font-weight: $font-weight-semibold;
      cursor: pointer;
      font-size: $font-size-sm;
    }

    .btn-reset {
      border: 1px solid #545f7d;
      color: $color-neutral-500;
      background: #fff;
      margin-right: 0.5rem;
    }

    .btn-filter {
      border: none;
      background: $color-brand-teal;
      color: #fff;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
