@use "../../styles" as *;
@use "sass:color";

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
  transition: border-color 0.2s ease;
  width: 100%;
  max-width: 400px;

  height: 40px;

  &:focus-within {
    border-color: $color-brand-teal;
  }

  &__field {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 20px 12px 20px;
    font-family: $font-family-work-sans;
    font-size: $font-size-base;
    color: $color-neutral-500;
    background-color: transparent;
    width: 100%;

    @include respond("xs") {
      padding: 12px;
      font-size: 0.8125rem;
    }

    &::placeholder {
      color: $color-neutral-500;
      opacity: 60%;
    }
  }

  &__button {
    border: none;
    background-color: $color-brand-teal;
    color: #fff;
    // padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
    width: 56px;
    height: 40px;

    @include respond("xs") {
      flex-shrink: 1;
      width: 36px;
      height: 40px;
    }

    div {
      img {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
      }
    }

    &:hover {
      background-color: color.scale($color-brand-teal, $lightness: -5%);
    }
  }
}
