@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.avatar {
  @include flex-center;
  border-radius: 50%;
  background-color: $color-neutral-500;
  color: #fff;
  font-weight: 600;
  overflow: hidden;
  cursor: default;
  user-select: none;
  text-transform: uppercase;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Sizes
  &--sm {
    width: 32px;
    height: 32px;
    font-size: 0.875rem;
  }

  &--md {
    width: 48px;
    height: 48px;
    font-size: 1rem;
  }

  &--lg {
    width: 100px;
    height: 100px;
    font-size: 1.25rem;
  }
}
