@use "../../styles" as *;

.fade-in {
  opacity: 0;
  transform: translateY(2.5px);
  animation: fadeInUp 0.2s ease-in forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
